@import "tailwindcss";

*{
    font-family: Outfit;
}
select,input,textarea{
    border: 1px solid #c586A5;
    border-radius: 5px;
}

.active {
    background-color: #c586A5;
    border-color: #c586A5;
}